.App {
  text-align: center;
}

.charts-alignment {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.legend-container {
  margin-top: 70px;
}

.reset-button {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 999px;
  padding: 10px 14px;
  background: #fff;
  cursor: pointer;
  font-weight: 600;
}

.reset-button:hover {
  transform: translateY(-1px);;
}

.gdelt-heading {
  color: #2C6CB0;
}

.youtube-heading {
  color: #FF0000;
}

.sub-title {
  color: #333;
}

.intro-text {
  max-width: 900px;
  margin: 10px auto 30px auto;
  line-height: 1.6;
  font-size: 15px;
  color: #444;
  text-align: center;
}

.disclaimer-text {
  max-width: 900px;
  margin: 100px auto 30px auto;
  font-size: 10px;
  color: black;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
}

.bar-charts-text {
  max-width: 900px;
  margin: 5px auto 60px auto;
  font-size: 13px;
  line-height: 1.6;
  color: #444;
  text-align: center;
}

.line-charts-text {
  max-width: 900px;
  margin: 5px auto 60px auto;
  font-size: 13px;
  line-height: 1.6;
  color: #444;
  text-align: center;
}

.scatter-plots-text {
  max-width: 900px;
  margin: 5px auto 60px auto;
  font-size: 13px;
  line-height: 1.6;
  color: #444;
  text-align: center;
}

.website-image {
  width: 95%;
  max-width: 1200px;
  height: 240px;
  object-fit: cover;
  display: block;
  margin: 14px auto 18px auto;
  border-radius: 9px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.08);
}

.image-citation {
  font-size: 10px;
  color: #888;
  text-align: center;
  margin-top: -10px;
}

.authors-names {
  font-size: 12px;
  color: black;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 2px;
  font-weight: bold;
}

.publish-date {
  font-size: 10px;
  color: black;
  text-align: center;
}